html,
body {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

main {
  width: 1440px;
  font-family: DM sans;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 25px;
}

.box-1 {
  grid-column: 1 / 4;
  grid-row: 1 /7;
  background-color: #f9eee1;
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0;
  border-radius: 20px;
  box-sizing: border-box;
}

.post-img {
  text-align: center;
}

.post-img img {
  max-width: 250px;
  margin: 30px;
}

.title,
.b4-title {
  font-size: 3rem;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
  font-weight: 500;
}

.title span {
  color: #a46ede;
  font-style: italic;
}

/* Box-1 End */

.box-2 {
  grid-column: 4 / 10;
  grid-row: 1 /5;
  background-color: #7651dc;
  border-radius: 20px;
  box-sizing: border-box;
}

.b2-title {
  color: #ffffef;
  font-size: 4rem;
  text-align: center;
  padding: 50px 50px 30px 50px;
}

.b2-title span {
  color: #fcc963;
}

.b2-title .fast {
  color: #ffffef;
  font-style: italic;
}

.b2-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review {
  color: #ffffef;
}

/* Box-2 END */

.box-3 {
  grid-column: 10 / -1;
  grid-row: 1 /9;
  background-color: #dbd0fd;
  border-radius: 20px;
}

.b3-title,
.b5-title,
.b6-title {
  font-size: 2.5rem;
  padding: 30px 20px 10px 40px;
  box-sizing: border-box;
  font-weight: 500;
}

.b3-img {
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.b3-img img {
  height: 50vh;
  width: auto;
  margin-left: 45px;
}

.content {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 45px 0px 50px;
}

/* End Box-3 */

.box-4 {
  grid-column: 1 / 4;
  grid-row: 7 /-1;
  background-color: #ffcc68;
  border-radius: 20px;
}

.b4-title {
  padding-top: 30px;
  padding-bottom: 40px;
}

.b4-img {
  padding: 40px 20px 10px 30px;
}

.b4-img img {
  height: 100%;
  width: 100%;
}
/* End Box-4 */

.box-5 {
  grid-column: 4 / 7;
  grid-row: 5 /9;
  background-color: #ffffff;
  border-radius: 20px;
}
.b5-img {
  overflow: hidden;
}
.b5-img img {
  height: 10vh;
  width: auto;
  padding: 40px 0px 0px 35px;
}

.box-6 {
  grid-column: 7 / 10;
  grid-row: 5 /9;
  background-color: #ffcc6a;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.b6-img {
  position: absolute;
  top: 270px;
  right: 10px;
  left: 10px;
}

.b6-img img {
  height: 100%;
  width: 100%;
}

.box-7 {
  grid-column: 4 / 7;
  grid-row: 9 /-1;
  background-color: aqua;
  border-radius: 20px;
}

.box-8 {
  grid-column: 7 / -1;
  grid-row: 9 /-1;
  background-color: aqua;
  border-radius: 20px;
}
